<%= link_to('Новый пользователь', root_url, class: "navigation-link") %>

<h2>Список зарегистрированных пользователей</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>№</th>
      <th>Логин</th>
      <th>ФИО</th>
      <th>Дата рождения</th>
      <th>Электронная почта</th>
    </tr>
  </thead>
  <% @users.each_with_index do |u, i| %>
    <tr>
      <td><%= i + 1 %></td>
      <td><%= u.username %></td>
      <%if u.full_name == "" %>
        <td>—</td>
      <% else %>
        <td><%= u.full_name %></td>
      <% end %>
      <%if u.date_of_birth %>
        <td><%= l u.date_of_birth, format: :long %></td>
      <% else %>
        <td>—</td>
      <% end %>
      <%if u.email and u.email != "" %>
        <td><%= u.email%></td>
      <% else %>
        <td>—</td>
      <% end %>
    </tr>
  <% end %>
</table>